/* Stylesheet basics adapted from HTML5 Boilerplate for LONSDALE CAPITAL PARTNERS */

/* = TABLE OF CONTENTS
----------------------------------------------- 

TABLE OF CONTENTS

01 - @font-face 
02 - Global Styles
03 - Basic Wrapper Layout
04 - Header
05 - Content
   - [a] Page Layout Standards
   - [b] Page Content Standards
   - [c] Home
   - [d] Portfolio
   - [e] The Team
   - [f] Investment Criteria
   - [g] News
   - [h] Investor Login
   - [i] Contact Us
   - [j] 404

*/


/* = 01 - @font-face
----------------------------------------------- */

/*

font-family:'HelveticaNeueW01-UltLt';
font-family:'HelveticaNeueW01-UltLtI';
font-family:'HelveticaNeueW01-Thin';
font-family:'HelveticaNeueW01-ThinIt';
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-46Ligh';
font-family:'HelveticaNeueW01-55Roma';
font-family:'HelveticaNeueW01-56It';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-66Medi';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-76Bold';
font-family:'HelveticaNeueW01-85Heav';
font-family:'HelveticaNeueW01-86Heav';
font-family:'HelveticaNeueW01-95Blac';
font-family:'HelveticaNeueW01-BlackI';
font-family:'HelveticaNeueW01-BdOutl';
font-family:'HelveticaNeueW01-UltLtC 673371';
font-family:'HelveticaNeueW01-UltLtC 673374';
font-family:'HelveticaNeueW01-ThinCn 673383';
font-family:'HelveticaNeueW01-ThinCn 673386';
font-family:'HelveticaNeueW01-47LtCn 692686';
font-family:'HelveticaNeueW01-47LtCn 692689';
font-family:'HelveticaNeueW01-57Cn';
font-family:'HelveticaNeueW01-57CnOb';
font-family:'HelveticaNeueW01-67MdCn 692710';
font-family:'HelveticaNeueW01-67MdCn 692713';
font-family:'HelveticaNeueW01-77BdCn 692722';
font-family:'HelveticaNeueW01-77BdCn 692725';
font-family:'HelveticaNeueW01-87HvCn 692734';
font-family:'HelveticaNeueW01-87HvCn 692737';
font-family:'HelveticaNeueW01-97Blac';
font-family:'HelveticaNeueW01-BlackC';
font-family:'HelveticaNeueW01-XBlkCn 710276';
font-family:'HelveticaNeueW01-XBlkCn 710279';
font-family:'HelveticaNeueW01-UltLtE 710282';
font-family:'HelveticaNeueW01-UltLtE 710285';
font-family:'HelveticaNeueW01-ThinEx 710288';
font-family:'HelveticaNeueW01-ThinEx 710291';
font-family:'HelveticaNeueW01-LtExt';
font-family:'HelveticaNeueW01-LtExtO';
font-family:'HelveticaNeueW01 53 Ext';
font-family:'HelveticaNeueW01-ExtObl';
font-family:'HelveticaNeueW01-MdExt';
font-family:'HelveticaNeueW01-MdExtO';
font-family:'HelveticaNeueW01-BdExt';
font-family:'HelveticaNeueW01-BdExtO';
font-family:'HelveticaNeueW01-HvExt';
font-family:'HelveticaNeueW01-HvExtO';
font-family:'HelveticaNeueW01-BlkExt 710327';
font-family:'HelveticaNeueW01-BlkExt 710330';
font-family:'HelveticaNeueW31-Light';
font-family:'HelveticaNeueW31-LightI';
font-family:'Helvetica Neue W31';
font-family:'HelveticaNeueW31-Italic';
font-family:'Helvetica Neue W31 Bold';
font-family:'HelveticaNeueW31-BoldIt';
font-family:'HelveticaNeueW82-Light';
font-family:'HelveticaNeueW82-Regula';
font-family:'Helvetica Neue W82 Bold';
font-family:'Neue Helvetica W01 29 C1289686';
font-family:'Neue Helvetica W01 39 C1289693';
font-family:'Neue Helvetica W01 49 Cm Light';
font-family:'Neue Helvetica W01 59 Comp';
font-family:'Neue Helvetica W01 69 C1289704';
font-family:'Neue Helvetica W01 79 C1289709';
font-family:'Neue Helvetica W01 89 Cm Heavy';
font-family:'Neue Helvetica W01 99 Cm Black';
*/
	

/* = 02 - Global Styles
----------------------------------------------- */
	
	html, body{		
	    background-color:#FFFFFF;
		height:100%;

		color:#00549A;
		font-family: 'HelveticaNeueW01-55Roma', Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:normal;
		line-height:19px;
        text-align:center;	
		
		margin:0;
		padding:0;
	}

		html{
			height:100%;
		}
	
		body{		
			/* min-width:1024px;  Minimum width for iPad - pulls out to both sides */
			/* min-height:768px !important;  Minimum height for iPad - same height as background image */
		}

/* Colors */
	
	/*
	
	*/

/* Paragraph */
	
	p{
		color:inherit;
		font-size:14px;
		font-weight:normal;
		line-height:17px;
        text-align:left;

		margin:0px auto;
		padding:5px 0px;
		border:0px none;	
	}


/* Headers */
	
	h1{
		color:#00549a;
		font-size:32px;
		font-weight:normal;
		line-height:37px;
        text-align:left;

		margin:0px auto;
		padding:10px 0px;
		border:0px none;
		
		/* font-family:'HelveticaNeueW01-45Ligh'; */
		font-family:'HelveticaNeueW01-Thin';
		/* font-family:'HelveticaNeueW01-UltLt'; */
	}
	
	h2{
		color:inherit;
		font-size:20px;
		line-height:22px;
        text-align:left;

		margin:0px auto;
		padding:5px 0px;
		border:0px none;
		
		font-family:'HelveticaNeueW01-75Bold';
		font-weight:normal;
		/* font-weight:bold; */
	}
	
	h3{
		color:inherit;
		font-size:14px;
		font-weight:normal;
		line-height:17px;
        text-align:left;

		margin:0px auto;
		padding:10px 0px;
		border:0px none;
	}
	
	h4, h5, h6{
		color:inherit;
		font-size:16px;
		font-weight:normal;
		line-height:19px;
        text-align:left;

		margin:0px auto;
		padding:10px 0px;
		border:0px none;
	}


/* Links */	

	a,
	a:focus,
	a:active{
		color:inherit;
		
		text-decoration:underline;
		outline:none;
		
		opacity:1.0;
			
		transition: opacity .15s ease-in-out;
	   -moz-transition: opacity .15s ease-in-out;
	   -webkit-transition: opacity .15s ease-in-out;	
	}
	
		a:hover{
			color:inherit;
			
			text-decoration:underline;
			outline:none;
		
			opacity:0.75;
				
			transition: opacity .15s ease-in-out;
		   -moz-transition: opacity .15s ease-in-out;
		   -webkit-transition: opacity .15s ease-in-out;	
		}


/* Images */
	
	img{
		outline:none;
		border:none;
		background:none;
		
    	vertical-align: middle;
		
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		border:none;
	}
	
	
/* Rule */

	hr {
		height: 1px;
		display: block;
		padding: 0;
		margin: 1em 0;
		border: 0;
									
		border-style:solid;
		border-color:#CCCCCC;
		border-width:1px 0px 0px 0px;
	}


/* Tables */	

	table, tr, td{
		text-align:left;
	
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		border:none;
	}
	
	
/* Lists */

	ul, ol {
		margin: 0 0 1.625em 2.5em;
	}
	
	ul {
		list-style: square;
	}
	
	ol {
		list-style-type: decimal;
	}
	
	ol ol {
		list-style: upper-alpha;
	}
	
	ol ol ol {
		list-style: lower-roman;
	}
	
	ol ol ol ol {
		list-style: lower-alpha;
	}
	
	ul ul, ol ol, ul ol, ol ul {
		margin-bottom: 0;
	}

	dl {
		margin: 0 1.625em;
	}
	
	dt {
		font-weight: bold;
	}
	
	dd {
		margin-bottom: 1.625em;
	}


/* Formatting */

	strong {
		font-family:'HelveticaNeueW01-75Bold';
		font-weight:normal;
		/* font-weight:bold; */
	}
	
	cite, em, i {
		font-family:'HelveticaNeueW01-56It';
		font-style:normal;
		/* font-style:italic; */
	}
	
		b cite, b em, b i, 
		cite b, em b, i b,
		strong cite, strong em, strong i,
		cite strong, em strong, i strong,{
			font-family:'HelveticaNeueW01-76Bold';
			font-style:normal;
			font-weight:normal;
			/* font-style:italic;
			font-weight:bold; */
		}
	
	.uppercase{
		text-transform:uppercase !important;
	}
	
	.capitalize{
		text-transform:capitalize !important;
	}
	
	.lowercase{
		text-transform:lowercase !important;
	}


/* Quotes */

	blockquote {
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:15px;
		font-style:italic;
	}

		blockquote p{
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size:15px;
			font-style:italic;
		}
		
			blockquote em, blockquote i, blockquote cite {
				font-style: italic;
			}


/* Codes */

	pre {
	}
	
	code, kbd, samp, var {
		font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	}
	
	abbr, acronym, dfn {
	}
	
	address {
	}
	
	ins {
	}
	
	sup,
	sub {
		font-size: 10px;
		height: 0;
		line-height: 1;
		position: relative;
		vertical-align: baseline;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}


/* Forms */

	input[type=text],
	input[type=password],
	textarea {
		background-color:#E5E5E5;
		
		width: 262px;
		
		color:#666666;
		
		outline:none;
		
		padding:8px 8px 8px 8px;
		margin:0px 0px 0px 0px;
		border:1px solid #E5E5E5;
	}
	
	input[type=text]:focus,
	textarea:focus {
		color: #58595B;
	}
	
	textarea {
		padding-left: 3px;
		width: 98%;
    	resize: vertical;
	}
	
	input[type=text] {
		padding: 3px;
	}
	
	input#s {
		background: url(images/search.png) no-repeat 5px 6px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-size: 14px;
		height: 22px;
		line-height: 1.2em;
		padding: 4px 10px 4px 28px;
	}
	
	input#searchsubmit {
		display: none;
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
	
	select, option{	
		outline:none;
	}

/* iFrames */

	embed,
	iframe,
	object {
		max-width: 100%;
	}


/* Alignment */

	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.625em;
	}
	
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.625em;
	}
	
	.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	
/* Clears */
	
	.clearfix{
		clear:both;
	}
	
		.clearfix-left{
			clear:left;
		}
		
		.clearfix-right{
			clear:right;
		}
	

/* Highlighted Text */
	
	::-moz-selection {
		background: #E5E5E5;
		text-shadow: none;
	}
	::selection {
		background: #E5E5E5;
		text-shadow: none;
	}
		

/* Google Chrome Frame */
	.chromeframe {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
	}


/* JS */
	html.js .no-js,
	.yes-js{
		display:none !important;		
	}
	
	html.js .yes-js,
	.no-js{
		display:block !important;		
	}


/* = 04 - Basic Wrapper Layout
----------------------------------------------- */
	
	/* Wrappers */
	#main-wrapper{	
		width:980px;
		height:auto;

		clear:both;
		position:relative;
		z-index:0;
		
		text-align:center;
		
		margin:0px auto;	
		padding:0px 20px;
		border:0px none;
	}
	
		#header-wrapper{	
			width:980px;
			height:135px;
	
			float:left;
			clear:both;
			position:relative;
			z-index:0;
			
			text-align:center;
			
			margin:0px auto;	
			padding:0px;
			border:0px none;
		}
	
		#content-wrapper{	
			width:980px;
			height:auto;
			min-height:20px;
	
			float:left;
			clear:both;
			position:relative;
			z-index:0;
			
			text-align:center;
			
			margin:0px auto;	
			padding:0px;
			border:0px none;
		}
	
		#footer-wrapper{	
			width:980px;
			height:10px;
	
			float:left;
			clear:both;
			position:relative;
			z-index:0;
			
			font-size:10px;
			
			text-align:center;
			
			margin:0px auto;	
			padding:96px 0px 50px;
			border:0px none;
		}


/* = 05 Header
----------------------------------------------- */

	header{
		width:100%;
		height:auto;

		clear:both;
		position:relative;
		z-index:0;
		
		text-align:center;
		
		margin:0px auto;	
		padding:0px;
		border:0px none;
	}

	/* Logo */
	a.logo{	
		background:url(../img/logo.png) 0px 0px no-repeat;
		
		width:563px;
		height:59px;
	
		display:block;
		position:relative;
		float:left;
		clear:both;
		
		margin:30px auto 0px;
		padding:0px;
		border:0px none;
	}
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		a.logo{	
			background:url(../img/logo-retina.png) 0px 0px no-repeat;
			background-size:563px 59px;
		}
	}

		a.logo h1{
			width:563px;
			height:59px;
		
			overflow:hidden;
			text-indent:-9999px;
			
			margin:0px none;
			padding:0px;
			border:0px none;	
		}
		
		
	/* Navigation */
	nav{		
		width:auto;
		height:18px;
		
		display:block;
		position:relative;
		float:left;
		clear:both;
		
		color:#71CFEB;
		text-align:left;
		font-size:14px;
		
		margin:0px 0px 0px 75px;
		padding:0px 0px 0px 0px;
		border:0px none;
		
		/* font-family:'HelveticaNeueW01-75Bold';
		font-weight:normal;
		font-weight:bold; */
	}
		
		ul#menu-main-menu{
			width:800px;
			height:18px;
			
			display:block;
			position:relative;
			float:left;
			clear:both;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}
		
			ul#menu-main-menu li{
				width:auto;
				height:18px;
				
				display:block;
				position:relative;
				float:left;
				clear:none;
				
				line-height:18px;
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
		 
				nav a,
				nav a:focus,
				nav a:active{
					color:#71CFEB;
					text-decoration:none;
					
					margin-right:20px;
					
					opacity:1.0;
					padding-bottom:1px;
				}
				
				nav a:hover{
					color:#71CFEB;
					
					margin-right:20px;
					text-decoration:none;
					
				}
	
					body.page-id-2 nav a.home,
					body.page-id-12 nav a.investment-criteria,
					body.page-id-19 nav a.investment-criteria,
					body.page-id-20 nav a.investment-criteria,
					body.page-id-27 nav a.investment-criteria,
					body.page-id-9 nav a.team,
					body.page-id-43 nav a.team,
					body.page-id-48 nav a.team,
					body.page-id-50 nav a.team,
					body.page-id-52 nav a.team,
					body.page-id-54 nav a.team,
					body.page-id-57 nav a.team,
					body.page-id-54 nav a.team,
					body.page-id-57 nav a.team,
					body.post-type-archive-team nav li.menu-item-343 a,
					body.single-team nav li.menu-item-343 a,
					body.post-type-archive-news nav a.news,
					body.single-news nav a.news,
					body.page-id-97 nav a.investors,
					body.page-id-14 nav a.contact-us,
	
					body.page-id-2 nav li.menu-item-285 a,
					body.page-id-12 nav li.menu-item-286 a,
					body.page-id-19 nav li.menu-item-286 a,
					body.page-id-20 nav li.menu-item-286 a,
					body.page-id-27 nav li.menu-item-286 a,
					body.page-id-9 nav li.menu-item-287 a,
					body.page-id-43 nav li.menu-item-287 a,
					body.page-id-48 nav li.menu-item-287 a,
					body.page-id-50 nav li.menu-item-287 a,
					body.page-id-52 nav li.menu-item-287 a,
					body.page-id-54 nav li.menu-item-287 a,
					body.page-id-57 nav li.menu-item-287 a,
					body.post-type-archive-portfolio nav li.menu-item-290 a,
					body.single-portfolio nav li.menu-item-290 a,
					body.post-type-archive-news nav li.menu-item-291 a,
					body.single-news nav li.menu-item-291 a,
					body.page-id-97 nav li.menu-item-288 a,
					body.page-id-14 nav li.menu-item-289 a
					{
						background:url(../img/nav-marker.png) left bottom no-repeat;
						color:#203364;
					}
				
	
/* = 06 Content
----------------------------------------------- */
	
	/* General */
	.column {
		float:left;
		clear:none;
	}
	
		.block{			
			width:242px;
			height:242px;
	
			float:left;
			position:relative;
			z-index:0;
			
			margin:0px 4px 4px 0px;
			padding:0px;
			border:0px none;
		}
		
		.block.last{
			margin-right:0px !important;
		}
		
		.block.blueblock{
			background:#000538;
		}


	/* Home */
	.home .block{
		background:#75ACD2;
		
		width:242px;
		height:242px;

		float:left;
		position:relative;
		z-index:0;
		
		margin:0px 4px 4px 0px;
		padding:0px;
		border:0px none;
	}
	
		.home .block.image{
		}
		
			.contenthover{
				width:242px;
				height:242px;
				
				position:relative;
				
				color:#FFFFFF;	
			}
		
				.contenthover .panel{
					background:#FFFFFF;
					width:200px;
					height:auto;
					
					position:absolute;
					bottom:0px;
					left:0px;
					
					color:#00549a;
					
					padding:11px 21px;	
				}
		
					.contenthover .panel .readmore p{
						line-height:14px;
					}
		
					.contenthover .panel .readmore a{
						font-size:11px;
						text-decoration:none;
					}
	
		.home .block.text{
			background:#75ACD2;
			
			width:200px;
			height:200px;
			
			color:#FFFFFF;
			font-size:24px;
			line-height:26px;
			text-align:left;
			
			padding:21px;
		}
		
		
	/* Investment Criteria */		
	.investment-criteria .column {
		float:left;
		clear:none;
	}
	
		.investment-criteria .block.sub-nav{
			background:#1B5191;
			
			width:200px;
			height:200px;
			
			color:#FFFFFF;
			font-size:24px;
			line-height:26px;
			text-align:left;
			
			padding:21px;
		}
	
			.investment-criteria .block.sub-nav a{
				color:#7193CC;
				text-decoration:none;
			}
		
			body.page-id-12 a.overview,
			body.page-id-19 a.what-we-do,
			body.page-id-20 a.how-we-add-value,
			body.page-id-27 a.where-we-are-different{
				color:#FFFFFF !important;
			}
	
		.investment-criteria .block.small-image{
			background:#1b5191;
			clear:both			
		}
	
	.investment-criteria .large-text{
		background:#060551;
		
		width:734px;
		height:auto;
		
		display:block;
		float:right;		
		
		color:#FFFFFF;
			
		margin:0px auto;
		padding:0px;
		border:0px none;
	}
		
	body.page-id-20 .large-text{
		background:#559db8;
	}
	
		.investment-criteria .large-text .block{
			background:none;
			
			width:200px;
			height:446px;
			
			margin:0px 4px 0px 0px;
			padding:21px;
			border:0px none;
		}
		
	.investment-criteria .block.large-image{
		width:488px;
		height:488px;
		
		float:left;
		clear:none;
	}
	
	.investment-criteria .block.small-text{
		background:#060551;
		
		width:200px;
		height:446px;	
		
		color:#FFFFFF;
		
		margin:0px 0px 0px 0px;
		padding:21px;
		border:0px none;
	}
	
	body.page-id-19 .small-text{
		background:#0066ce;
	}
		
		
	/* Team */
	.team-container{	
		background:url(../img/background-team.png);
		display:block;
		position:relative;
	}
	
	.team-container .team-container-bottom{
		display:block;
		position:absolute;
		bottom:0px;
		z-index:10;
	}
	
		.team .column {
			float:left;
			clear:none;
		}
		
			.team .column h2{
				color:#FFFFFF;
			}
		
			.team .block.sub-nav{
				background:#000538;
				
				width:200px;
				height:446px;
				
				color:#49718f;
				font-size:24px;
				line-height:26px;
				text-align:left;
				
				padding:21px;
			}
		
			.team .block.sub-nav a{
				text-decoration:none;	
			}
			
			body.page-id-43 h3.founders,
			body.page-id-43 a.alan-dargan,
			body.page-id-48 h3.founders,
			body.page-id-48 a.ross-finegan,
			body.page-id-50 h3.founders,
			body.page-id-50 a.david-gasparro,
			body.page-id-52 h3.investment-professionals,
			body.page-id-52 a.ben-evans,
			body.page-id-54 h3.investment-professionals,
			body.page-id-54 a.adam-crinion,
			body.page-id-57 h3.office-manager,
			body.page-id-57 a.claire-odowd,
			body.page-id-9 h3,
			body.page-id-9 .sub-nav a,
			body.post-type-archive-team .sub-nav a,
			body.single-team .sub-nav a
			{
				color:#FFFFFF;
			}
			
		.team .team-shots {
			width:734px;
			height:auto;
			
			display:block;
			float:right;
			clear:none;
		}
			
	.team .large-text.top{
		background:#75ACD2;
		
		width:734px;
		height:242px;
		
		float:left;
		clear:none;
		
		margin:0px 0px 4px 0px;
	}
		
	.team .large-text.bottom{
		background:#75ACD2;
		
		width:734px;
		height:242px;
		
		float:left;
		clear:none;
		
		margin:4px 0px 0px 0px;
	}
	
		.team .large-text .block{
			width:200px;
			height:200px;
			
			color:#FFFFFF;
			
			margin:21px;
		}
	
			.team .large-text .block a.email-address{
				text-decoration:none;
			}
		
		
	/* News - Archive */	
	.news-archive{
	}
	
		.news-archive .news-items{
			background:url(../img/background-news.png) center top repeat-y;
			position:relative;
		}
	
			.news-archive .news-items .image{
				background:url(../img/news.jpg) center top no-repeat;
				
				width:488px;
				height:488px;
				
				position:absolute;
				top:0px;
				left:246px;
			}
		
			.news-archive .block{
				width:200px;
				height:200px;
				
				color:#FFFFFF;
				font-size:24px;
				line-height:26px;
				text-align:left;
					
				margin-right:4px;
				padding:21px;
			}
		
				.news-archive .block.last{
					margin-right:0px;
				}
			
				.news-archive .block.news-archive-1{
					background:#4E86D1;
					float:left;
					clear:none;
				}
				
				.news-archive .block.news-archive-2{
					background:#033A6F;
					float:right;
					clear:none;
					margin-right:0px;
				}
			
				.news-archive .block.news-archive-3{
					background:#60AFBF;
					float:left;
					clear:right;	
				}
			
				.news-archive .block.news-archive-4{
					background:#65C5FF;
					float:right;
					clear:none;
					margin-right:0px;
				}
			
				.news-archive .block.news-archive-5{
					clear:both;
				}
		
					.news-archive .block .title{
					}
					
						.news-archive .block .title span{
							float:right;
						}
		
					.news-archive .block .headline{
					}
		
						.news-archive .block .headline a{
							text-decoration:none;
						}
		
					.news-archive .block .readmore{
						font-size:11px;
					}
		
						.news-archive .block .readmore a{
							text-decoration:none;
						}
		
		
	/* News - Single */	
	.news-single{
		background:url(../img/news.jpg) right bottom no-repeat;
	}
	
		.news-single .news-tall-column{
			background:#4E86D1;
			width:488px;
			height:734px;
			
			display:block;
			position:relative;
			float:left;
			
			color:#FFFFFF;
			
			margin:0px auto;
			padding:0px;
			border:0px none;	
		}
	
			.news-single .news-tall-column .block{
				width:202px;
				height:692px;
				
				margin:21px;	
			}
		
					.news-single .news-tall-column .block .title{
					}
					
						.news-single .news-tall-column .block .title span{
							float:right;
						}
		
					.news-single .news-tall-column .block .headline{
					}
		
					.news-single .news-tall-column .block .backbutton{
						font-size:11px;
						margin-bottom:20px;
					}
		
						.news-single .news-tall-column .block .backbutton a{
							text-decoration:none;
						}
	
		.news-single .news-short-column{
			background:#4E86D1;
			width:484px;
			height:242px;
			
			display:block;
			position:relative;
			float:right;
			
			color:#FFFFFF;
			
			margin:0px auto;
			padding:0px 0px 0px 8px;
			border:0px none;	
		}
	
			.news-single .news-short-column .block{
				width:200px;
				height:200px;
				
				margin:21px;	
			}
		
		
	/* Portfolio - Archive */	
	.portfolio-archive{
	}
	
		.portfolio-archive .portfolio-items{
			background:url(../img/background-portfolio.png) 0px 0px repeat-y;	
			
			width:980px;
			height:auto;
	
			float:left;
			clear:both;
			position:relative;
			z-index:0;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}
	
			.portfolio-archive .portfolio-item{
				width:492px;
				height:246px;
		
				float:left;
				clear:both;
				position:relative;
				z-index:0;
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
			
			.portfolio-archive .portfolio-item.even{
				width:488px;
				float:right;
				clear:none;
			}
		
				.portfolio-archive .block.thumbnail{
					background:#FFFFFF;
						
					width:242px;
					height:242px;
			
					float:left;
					position:relative;
					z-index:0;
					
					margin:0px auto;
					padding:0px 0px 4px 0px;
					border:0px none;
				}
		
				.portfolio-archive .block.image{
					background:#FFFFFF;
						
					width:488px;
					height:242px;
			
					float:left;
					position:relative;
					z-index:0;
					
					margin:0px auto;
					padding:0px 4px 4px 0px;
					border:0px none;
				}
		
				.portfolio-archive .block.text{
					width:204px;
					height:200px;
			
					float:left;
					position:relative;
					z-index:0;
					
					color:#FFFFFF;
					
					margin:0px 0px 4px 0px;
					padding:21px;
					border:0px none;
				}
		
					.portfolio-archive .block.text h2.title{
						padding-top:0px;
					}
		
					.portfolio-archive .block.text .investment,
					.portfolio-archive .block.text p.website{
						margin-bottom:8px;
					}
					
						.portfolio-archive .block.text p.website a{
							text-decoration:none;	
						}
		
					.portfolio-archive .block.text p{
						line-height:14px;
						padding:2px 0px;
					}
					.portfolio-archive .block.text img{
						display:inline-block;
						float:left;
						margin-bottom:8px;
					}
		
					.portfolio-archive .block.text .readmore{
						clear:both;
						font-size:11px;
					}
		
						.portfolio-archive .block.text .readmore a{
							text-decoration:none;
						}
		
		
	/* Portfolio - Single */	
	.portfolio-single{
	}
	
		.portfolio-single .portfolio-item{
			width:980px;
			height:auto;
	
			float:left;
			clear:both;
			position:relative;
			z-index:0;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}
		
			.portfolio-single .block.thumbnail{
				background:#FFFFFF;
					
				width:242px;
				height:242px;
		
				float:left;
				position:relative;
				z-index:0;
				
				margin:0px auto;
				padding:0px 4px 4px 0px;
				border:0px none;
			}
	
			.portfolio-single .block.text{
				width:200px;
				height:200px;
		
				float:left;
				position:relative;
				z-index:0;
				
				color:#FFFFFF;
				
				margin:0px 4px 0px 0px;
				padding:21px 21px 25px;
				border:0px none;
			}
		
				.portfolio-single .block.text h2.title{
					padding-top:0px;
				}
	
				.portfolio-single .block.text .investment,
				.portfolio-single .block.text p.website{
					margin-bottom:8px;
				}
				
					.portfolio-single .block.text p.website a{
						text-decoration:none;	
					}
	
				.portfolio-single .block.text p{
					line-height:14px;
				}
				.portfolio-single .block.text img{
					display:inline-block;
					float:left;
					margin-bottom:8px;
				}
	
			.portfolio-single .block.image{
				background:#FFFFFF;
					
				width:488px;
				height:242px;
		
				float:left;
				position:relative;
				z-index:0;
				
				margin:0px 0px 4px 0px;
				padding:0px;
				border:0px none;
			}
	
			.portfolio-single .text-row{
				width:980px;
				height:242px;
		
				float:left;
				position:relative;
				z-index:0;
				
				color:#FFFFFF;
				
				margin:0px 4px 0px 0px;
				padding:0px;
				border:0px none;
			}
	
				.portfolio-single .text-row .block{
					width:200px;
					height:200px;
					
					padding:21px;
				}
	
	
		/* Investors */
		.investors .block.large-image{
			background:url(../img/investors.jpg) 0px 0px no-repeat;
			width:734px;
			height:488px;
			
			float:left;
			clear:both;	
			
			color:#FFFFFF;
			
			margin:0px 4px 4px 0px;
			padding:0px;
			border:0px none;
		}
		
		.investors .block.login-form{
			background:#357593;
			
			width:200px;
			height:200px;
			
			float:right;
			clear:none;	
			
			color:#FFFFFF;
			
			margin:0px 0px 4px 0px;
			padding:21px;
			border:0px none;
		}
		
			.investors .block.login-form label{
				width:200px;
				height:20px;
				
				float:left;
				clear:both;
				
				color:#FFFFFF;
				font-size:12px;
				line-height:17px;
				text-align:left;
			}
		
			.investors .block.login-form input#user_login,
			.investors .block.login-form input#user_pass{
				background:#FFFFFF;
				
				width:198px;
				height:18px;
				
				float:left;
				clear:both;
				
				font-size:12px;
				line-height:18px;
				text-align:left;
				
				margin:0px 0px 10px 0px;
				padding:2px 5px;
				border:1px solid #FFFFFF;
			}
				
			.investors .block.login-form input#wp-submit{
				background:#357593;
				
				width:auto;
				height:20px;
				
				float:left;
				clear:both;
				
				color:#FFFFFF;
				font-size:11px;
				line-height:20px;
				text-align:left;
				text-decoration:underline;
				
				margin:0px 0px 10px 0px;
				padding:2px 0px;
				border:0px none;
			}
		
		.investors .block.colour{
			background:#1B344C;
			
			width:242px;
			height:242px;
			
			float:right;
			clear:right;	
			
			color:#FFFFFF;
			
			margin:0px 0px 4px 0px;
			padding:0px;
			border:0px none;
		}
		
		.investors .block.large{
			background:#357593;
			
			width:682px;
			height:auto;
			min-height:446px;
			
			float:left;
			clear:both;	
			
			color:#FFFFFF;
			
			margin:0px 4px 4px 0px;
			padding:21px 26px;
			border:0px none;
		}
		
			.investors .block.large .downloads{
				clear:both;
				margin-top:20px;	
			}
		
				.investors .block.large .downloads .download{
					clear:both;
					margin-top:10px;	
				}
			
					.investors .block.large p.title{
						font-family:'HelveticaNeueW01-75Bold';
						font-weight:normal;
						/* font-weight:bold; */
					}
				
						.investors .block.large p.title a{
							text-decoration:none;
						}
				
					.investors .block.large p.description{
						color:#C2D6DF;
					}
				
					.investors .block.large p.downloadbutton{
						font-size:11px;
					}
				
						.investors .block.large p.downloadbutton a{
							text-decoration:none;
						}
			
		.investors .block.image{
			background:url(../img/investors-01.jpg) 0px 0px no-repeat;
			
			width:200px;
			height:200px;
			
			float:right;
			clear:none;	
			
			color:#FFFFFF;
			
			margin:0px 0px 4px 0px;
			padding:21px;
			border:0px none;
		}
	
	
		/* Contact */
		.contact .contact-container{
			background:url('../img/background-news.png') repeat-y 0px 0px;	
		}
		
		.contact .contact-left{	
			width:492px;
			float:left;
		}
		.contact .contact-right{
			width:488px;
			float:right;
		}
		
		.contact .block.small-text{
			width:200px;
			height:200px;	
			
			color:#FFFFFF;
			
			margin:0px 4px 4px 0px;
			padding:21px;
			border:0px none;
		}
		
			.contact .block.small-text p{
				margin-bottom:10px;
			}
		
			.contact .block.small-text a{
				text-decoration:none;
			}
		
				.contact .block.small-text a.maplink{
					font-size:11px;
				}
				
		.contact .block.google-map{
			background:url(../img/google-map.png) 0px 0px no-repeat #CCCCCC;
			width:242px;
			height:242px;	
			
			color:#FFFFFF;
			
			margin:0px 4px 4px 0px;
			padding:0px;
			border:0px none;
		}
				
			.contact .block.google-map a{
				width:242px;
				height:242px;
				
				display:block;	
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
				
		.contact .form-content{
			width:492px;
			height:242px;
			float:left;
			display:block;
			position:relative;
		}
				
			.contact .form-content .block.form-left{
				width:200px;
				height:200px;	
				
				dislay:block;
				float:left;
				
				padding:21px;
			}
				
				.contact .form-content .block.form-left label{
					width:200px;
					height:20px;
					
					float:left;
					clear:both;
					
					color:#FFFFFF;
					font-size:12px;
					line-height:17px;
					text-align:left;
				}
				
				.contact .form-content .block.form-left input{
					background:#FFFFFF;
					
					width:198px;
					height:18px;
					
					float:left;
					clear:both;
					 
					font-size:12px;
					line-height:18px;
					text-align:left;
					
					margin:0px 0px 10px 0px;
					padding:2px 5px;
					border:1px solid #FFFFFF;
				}
				
			.contact .form-content .block.form-right{
				width:200px;
				height:200px;	
				
				dislay:block;
				float:left;
					
				padding:21px;
			}
				
				.contact .form-content .block.form-right label{
					width:200px;
					height:20px;
					
					float:left;
					clear:both;
					
					color:#FFFFFF;
					font-size:12px;
					line-height:17px;
					text-align:left;
				}
				
				.contact .form-content .block.form-right textarea{
					background:#FFFFFF;
					
					width:200px;
					height:150px;
					
					float:left;
					clear:both;
					
					font-size:12px;
					line-height:17px;
					text-align:left;
					
					margin:0px 0px 2px 0px;
					padding:2px 5px;
					border:0px none;
				}
				
				.contact .form-content .block.form-right input{
					background:#004BAC;
					
					width:auto;
					height:20px;
					
					float:left;
					clear:both;
					
					color:#FFFFFF;
					font-size:11px;
					line-height:20px;
					text-align:left;
					text-decoration:underline;
					
					margin:0px 0px 10px 0px;
					padding:2px 0px;
					border:0px none;
				}
				
				/* Validation */
				span.wpcf7-not-valid-tip,
				.wpcf7-validation-errors{
					display:none !important;	
				}
				
				input.wpcf7-not-valid{
					background:#FFE1E1 !important;
					border:1px solid #FF0000 !important;	
				}
	
				.wpcf7-mail-sent-ok{
					background:url(../img/background-contact-sent.png) 0px 0px no-repeat;
					
					width:200px;
					height:200px;
					
					display:block;
					position:absolute;
					top:0px;
					left:0px;
			
					z-index:100;
					
					color:#FFFFFF;
					text-align:left;
					
					margin:0px auto !important;
					padding:21px 271px 21px 21px !important;	
					border:0px none !important;
				}

/* = 07 Header
----------------------------------------------- */

	footer{
		width:100%;
		height:auto;

		clear:both;
		position:relative;
		z-index:0;
		
		text-align:center;
		
		margin:0px auto;	
		padding:0px;
		border:0px none;
	}
	
		.footer-left{
			display:block;
			float:left;
			
			font-size:10px;
			line-height:10px;
			text-align:left;
		}
	
		.footer-right{
			display:block;
			float:right;
			
			font-size:10px;
			line-height:10px;
			text-align:right;
		}
		
			.footer-right a,
			.footer-right a:hover{
				text-decoration:none;
			}