/* = Page
-----------------------------------------------*/
	
	/* -- Wrapper ---------- */
	#page-wrapper{
		width:100%;
		height:auto;
		
		display:block;
		position:relative;	
		clear:both;
		
		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	
	/* -- Section ---------- */
	section{
		width:100%;
		height:auto;
		
		display:block;
		position:relative;	
		clear:both;
		
		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	
	/* -- Container ---------- */
	.container{
		width:100%;
		max-width:444px;
		padding-left:15px;
		padding-right:15px;
	}

	@media screen and (min-width:520px){
		.container{
			width:496px;
			max-width:none;
			padding-left:0px;
			padding-right:0px;
		}
	}

	@media screen and (min-width:768px){
		.container{
			width:496px;
		}
	}

	@media screen and (min-width:992px){
		.container{
			width:992px;
		}
	}

	@media screen and (min-width:1200px){
		.container{
			width:992px;
		}
	}

	
	/* -- Blocks ---------- */
	
	/* Standard Block */
	.block{
		background:#1B5191;
		
		width:100%;
		height:auto;

		display:block;
		position:relative;

		margin:3px auto;
		padding:0px;
		border:0px none;
	}

	@media screen and (min-width:520px){
		.block{
			min-height:245px;
		}
	}

	@media screen and (min-width:992px){
		.block{
			min-height:242px;
		}
	}

		.block img{
			width:auto;
			max-width:100%;
			height:auto;
		}
	

	/* Padded Block */
	.block--padding{
		padding:10px 20px;
	}


	/* Tall Block */
	.block--tall{
	}

	@media screen and (min-width:992px){
		.block--tall{
			min-height:490px;
		}
	}


	/* Very Tall Block */
	@media screen and (min-width:992px){
		.block--xl-tall{
			min-height:738px;
		}
	}


	/* Images */
	.block--image{
		background:#FCFCFC;
	}

		.block--image img{
			width:100%;
			max-width:100%;
			height:auto;
		}


	/* Images */
	.block--colour{}

		.block--colour img{
			width:100%;
			max-width:100%;
			height:auto;
		}